/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align to the top of the viewport */
  font-size: calc(10px + 2vmin);
  color: #e9546b;
  padding: 0.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  width: 100%;
  position: absolute;
  top: 5px;
  padding: 20px;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 7vmin;
  margin-top: 70px; /* Change here to adjust distance from header */
  color: #00a381;
}

.mode {
  font-family: 'Orbitron', sans-serif;
  font-size: 4vmin;
  color: #895b8a;
  margin-left: 10px;
}

.reelContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  max-width: 95%; /* Reduce the maximum width to prevent the reels from being cut off */
  overflow: hidden; /* Hide the overflow to prevent scrolling */
}

.reel {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vw;
  width: 20vw;
  border: 3px solid #89c3eb;
  padding: 5px 0.5em; /* Update padding to add 5px to the top and bottom of the reel */
  margin: 0.5em;
}

.symbol {
  font-size: 7vmin;
}

button {
  font-family: 'Orbitron', sans-serif;
  font-size: 5vmin; /* Reduce the font size to prevent the text from overflowing */
  background-color: #89c3eb;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%; /* Make the button fill its container */
  height: ７vw;
  padding: 5px 0; /* Add padding to the top and bottom of the button */
}

button:hover {
  background-color: #2ca9e1;
}

.lamp {
  font-family: 'Orbitron', sans-serif;
  font-size: 7vmin;
  transition: color 0.5s ease;
  margin-top: 30px;
  height: 50%;
}

.lamp.unlit {
  color: #555;
}

.lamp.lit {
  color: #61dafb;
}

.newMedals {
  font-family: 'Orbitron', sans-serif;
  font-size: 5vmin;
  transition: opacity 2s ease-in-out;
  margin-top: 30px;
  color: #ffec47;
}

.newMedals.invisible {
  opacity: 0;
}

.newMedals.visible {
  opacity: 1;
}

.totalAndSpinCount {
  font-family: 'Orbitron', sans-serif;
  font-size: 4vmin;
  color: #deb068;
  margin-right: 10px;
}
