/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  padding: 0.5em;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 9vmin;
  margin-bottom: 0.5em;
}

.reelContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow: auto;
}

.reel {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20vw;
  width: 20vw;
  border: 3px solid #61dafb;
  padding: 0.5em;
  margin: 0.5em;
}

.symbol {
  font-size: 7vmin;
}

button {
  font-family: 'Orbitron', sans-serif;
  font-size: 7vmin;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
  width: 20vw; 
  height: 5vw;
}

button:hover {
  background-color: #bbeeff;
}

.bonus {
  font-family: 'Orbitron', sans-serif;
  font-size: 7vmin;
  color: #61dafb;
  margin-top: 0.5em;
}

.lamp {
  font-family: 'Orbitron', sans-serif;
  font-size: 7vmin;
  transition: color 0.5s ease;
  margin-top: 30px;
  height: 50%;
}

.lamp.unlit {
  color: #555;
}

.lamp.lit {
  color: #00FFFF;
}

.actionContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #282c34;
}

.newMedals {
  font-family: 'Orbitron', sans-serif;
  font-size: 5vmin;
  transition: opacity 2s ease-in-out;
  margin-top: 30px;
}

.newMedals.invisible {
  opacity: 0;
}

.newMedals.visible {
  opacity: 1;
}

.reelContainer, .actionContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow: auto;
  margin: 0.5em;
}

.actionContainer {
  align-items: center;
  width: 100%;
  background-color: #282c34;
}

.lamp, button, .newMedals {
  flex: 1;
  text-align: center;
}

.totalAndSpinCount {
  font-family: 'Orbitron', sans-serif;
  font-size: 4vmin;
  position: absolute;
  top: 10px;
  right: 20px;
}
